* {
margin: 0;
padding: 0;
box-sizing: 0;
}

body {
background-color: rgb(187, 218, 248);
color: black;
display: flex;
justify-content: center;
align-items: center;
}

#app {
background: rgb(107, 171, 227);
display: flex;
flex-direction: column;
width: 380px;
height: 500px;
padding: 15px;
border-radius: 15px;
box-shadow: 0 0 10px rgba(236, 239, 239, 0.816);

}

main {
padding: 30px;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

nav {
border-top: 2px solid rgb(5, 6, 12);
display: flex;
align-items: center;
padding: 10px;
justify-content: space-between;
}

body {
min-height: 100vh;

}

#msg {
width: 100%;
overflow-wrap: break-word;
word-wrap: break-word;
font-size: 18px;
/*m*/
}

button {
width: 80px;
/*m*/
height: 80px;
background: radial-gradient(circle, rgb(146, 200, 251), rgb(35, 95, 150));
/*m*/
border-radius: 50%;
border: none;
cursor: pointer;
margin-top: auto;
color: azure;
/*m*/
transition: 0.3s;
}

button:hover {
scale: 1.1;
box-shadow: 0 0 15px;
}

body {
flex-direction: column;
}

#app {
margin: 50px;
}

header {
color: rgb(17, 0, 255);
position: fixed;
top: 0;
display: flex;
justify-content: space-between;
width: 100%;
align-items: center;
padding: 10px;

}
footer{
padding: 20px;
}

@media (max-width:480px){

#app{
width: 100vw;
height: 100vh;
border-radius: 0;
}
main{
padding: 20px;
}

}